#Titulo {
    margin-top: 6vw;
    margin-bottom: -8%;

    text-align: center;
    color: #33998f;
    font-size: 0.5in;
}

#Box {
    margin: auto;
    margin-top: 10vw;

    width: 90%;
    height: fit-content;

    padding: 30px;

    background-color: #ffffff;
    border-radius: 5px;
}

#Formulario {
    margin-left: 2vw;
}

#textFields {
    margin-bottom: 15px;
}

#button_acp {
    margin-top: 16px;
    margin-right: 2vw;

    border: 0 #2fbc67;
    border-radius: 5px;

    width: 200px;
    height: 52px;

    background: #2fbc67;
    color: #ffffff;

    font-size: medium;
}

#button_acp:hover {
    background: #41df80;
    color: #1d8044;

    cursor: pointer;
    font-weight: 700;
}

#button_reg {
    margin-top: 16px;
    margin-right: 1vw;

    border: 0 #50BFB4;
    border-radius: 5px;

    width: 200px;
    height: 52px;

    background: #50BFB4;
    color: aliceblue;

    font-size: medium;
}

#button_reg:hover {
    background: #69d2c8;
    color: #33998f;

    cursor: pointer;
    font-weight: 700;
}

#textFieldsCitas {
    margin-bottom: 10px;
    position: relative;
}

#textfieldCita {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    height: 30px;
}

#textFieldsCitas input::placeholder, #textFieldsCitas textarea::placeholder {
    color: transparent;
    padding: 1px;
}

#textFieldsCitas input:focus, 
#textFieldsCitas textarea:focus {
    border: 1px solid #5095BF;
}

#textFieldsCitas #textfieldLabel {
    position: absolute;
    top: 12px;
    left: 0;
    padding: 0 10px;
    transition: 0.15s all ease;
}

#textFieldsCitas input:focus + #textfieldLabel,
#textFieldsCitas textarea:focus + #textfieldLabel,
#textFieldsCitas input:not(:placeholder-shown) + #textfieldLabel,
#textFieldsCitas textarea:not(:placeholder-shown) + #textfieldLabel {
    transform: translate(6px, -20px);
    background-color: #ffffff;
    color: #5095BF;
    font-size: 12px;
}

textarea:focus, input:focus{
    outline: none;
}

#textfieldCita:hover {
    border: 1px solid #5095BF;
}

.rs-input-group, .rs-input-group-inside {
    height: 48px;
    border: 1px solid #d6d6d6;
}

.rs-picker-label, .rs-input-group-addon {
    margin-left: 8px;
}