#Titulo {
    margin-top: 6vw;
    margin-bottom: -8%;
    
    text-align: center;
    color: #33998f;
    font-size: 0.5in;
}

#Box {
    margin: auto;
    margin-top: 10vw;

    width: 90%;
    height: fit-content;

    padding: 30px;

    background-color: #ffffff;
    border-radius: 5px;
}

#Button_Group {
    text-align:center;

    margin-left: 8.5vw;
    margin-bottom: 10px;
}

#textFields {
    margin-bottom: 10px;
}

.productos {
    display: flex;
    flex-direction: row;

    margin-bottom: 10px;
}

#button_acp {
    margin-top: 16px;
    margin-right: 2vw;

    border: 0 #2fbc67;
    border-radius: 5px;

    width: 200px;
    height: 52px;

    background: #2fbc67;
    color: #ffffff;

    font-size: medium;
}

#button {
    margin-right: 6vw;
    margin-bottom: 10px;

    border: 0 #50BFB4;
    border-radius: 5px;

    width: 170px;
    height: 40px;

    background: #50BFB4;

    font-size: small;
}

#button:hover {
    background: #69d2c8;
    color: #33998f;

    cursor: pointer;
}

#button_acp:hover {
    background: #41df80;
    color: #1d8044;

    cursor: pointer;
    font-weight: 700;
}

#button:active {
    background: #3c8e86;
    color: #75e3d8;

    font-weight: 700;
}

#button:enabled {
    color: aliceblue;
}

#button_Del {
    background-color: transparent;

    margin-top: 10px;

    width: 30px;
    height: 30px;
}

#button_Agr {
    margin-top: 10px;
    margin-right: 10px;
    border: 0 #50BFB4;
    border-radius: 5px;

    width: 30px;
    height: 30px;

    background: #50BFB4;
}

#button_Agr:hover {
    background: #69d2c8;
    color: #33998f;

    cursor: pointer;
}

#button_Agr:active {
    background: #3c8e86;
    color: #75e3d8;

    font-weight: 700;
}

#button_Agr:enabled {
    color: aliceblue;
}

#textfieldsOrdenes {
    margin-bottom: 10px;
    position: relative;
}

#textfieldOrden {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    height: 30px;
}

#selectOrden {
    padding: 8px 20px;
    background-color: transparent;
    border: 1px solid #d6d6d6;
    border-radius: 6px;
    height: 48px;
    margin-right: 10px;
}

#textfieldsOrdenes input::placeholder, #textfieldsOrdenes textarea::placeholder {
    color: transparent;
    padding: 1px;
}

#textfieldsOrdenes input:focus, 
#textfieldsOrdenes textarea:focus {
    border: 1px solid #5095BF;
}

#textfieldsOrdenes #textfieldLabel {
    position: absolute;
    top: 12px;
    left: 0;
    padding: 0 10px;
    transition: 0.15s all ease;
}

#textfieldsOrdenes input:focus + #textfieldLabel,
#textfieldsOrdenes textarea:focus + #textfieldLabel,
#textfieldsOrdenes input:not(:placeholder-shown) + #textfieldLabel,
#textfieldsOrdenes textarea:not(:placeholder-shown) + #textfieldLabel {
    transform: translate(6px, -20px);
    background-color: #ffffff;
    color: #5095BF;
    font-size: 12px;
}

textarea:focus, input:focus{
    outline: none;
}

#textfieldOrden:hover, #selectOrden:hover {
    border: 1px solid #5095BF;
}

.rs-input-group, .rs-input-group-inside {
    height: 48px;
    border: 1px solid #d6d6d6;
}

.rs-picker-label, .rs-input-group-addon {
    margin-left: 8px;
}

